
<h1><%= current_user.email %>: Your Current Bookings</h1>
<section class="row">
  <div class="grid grid-12">
    <div class="panel panel-primary">
      <% if @bookings == [] || nil %>
        <h2>No Bookings To Show!</h2>
      <% else %>
        <% @bookings.each do |booking| %>
          <%= link_to "#{booking.event.act.act_name}", act_path(booking.event.act.id) %>
          <br>
          <%= link_to "#{booking.event.event_details}", event_path(booking.event.id) %>
          <br>
          <%= booking.event.event_start_time.strftime('%H:%M on %d %^b %Y') %>
          <br>
          <%= link_to "#{booking.event.venue.venue_name}", venue_path(booking.event.venue.id) %>
          <br>
          <%= booking.event.venue.venue_location %>
          <br>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</section>