<div class= "grid grid-6">
  <%= form_for [@event, @booking] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :event_id, value: @event.id %>
    <br>
    <%= current_user.email %>
    <br>
    <%= @event.act.act_name %>
    <%= @event.event_details %>
    <br>
    <%= @event.venue.venue_name %>
    <br>
    <%= @event.venue.venue_location %>
    <br>
    <%= @event.event_start_time.strftime('%H:%M on %d %^b %Y') %>
    <br>
    £<%= @event.event_price %>
    <br>
    <%= label "ticket_quantity", "Select Quantity" %>
    <%= number_field "ticket_quantity", nil, :value => 1, in: 1..@ticket_range %>
    <br>
    <br>
    <%= f.submit 'Add To Basket' %>
  <% end %>
 </div> 