<h1><%= current_user.email %>: Shopping Cart</h1>
<h2><%= link_to "Continue Shopping", root_path %></h2>
<section class="row">
  <div class="grid grid-12">
    <div class="panel panel-primary">
        <% if @bookings == [] || nil %>
          <h2>Shopping Cart Empty!</h2>
        <% else %>
          <% @bookings.each do |booking| %>
          <div class="cart-left">        
            <%= booking.event.event_details %>
            <br>
            <%= booking.event.event_start_time.strftime('%H:%M on %d %^b %Y') %>
            <br>
            <%= booking.event.venue.venue_name %>
            <br>
            <p>Total Cost: <%= booking.event.event_price * @bookings.count[booking.event_id] %></p>
          </div> <!-- .cart-right -->
          <div class="cart-left">
            <p>Number of Tickets: <%= @bookings.count[booking.event_id] %></p>
            <%= button_to("Add One Ticket", event_bookings_path(booking.event.id, :ticket_quantity => 1, booking:{:user_id => current_user.id, :event_id => booking.event.id}), method: 'post', data: {confirm: 'Add One More Ticket. Are you sure?!'} ) %>  
            <br>
            <%= button_to("Remove One Ticket", event_booking_path(booking.event.id, booking.id), method: :delete, data: {confirm: 'Remove One Ticket? Are you sure?!'} ) %>
            <br>
          </div> <!-- .cart-left -->
            <br>
            <br>
          <% end %>
          <p>Total Amount: £<%= @amount %></p>
          <%= form_tag('/stripe_checkout', method: 'post') do %>
          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                   data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                   data-currency="gbp"
                   data-amount=<%= @stripe_amount %>
                   data-email=<%= current_user.email %>
                   data-locale="auto">
           </script>
          <% end %> 
        <% end %>
    </div>
  </div>
</section>