<h1>Events#index</h1>

<section class="row">
  <div class="grid grid-6">
    <div class="panel panel-primary">
      <div class="panel-heading"><%= link_to "View All Categories", genres_path %></div>
        <h3><%= link_to "#{@genres.first.title}", genre_path(@genres.first.id) %></h3>
        <% @genres.first.events.first(4).each do |event| %>
          <%= link_to "#{event.event_details}", event_path(event.id) %>
          <br>
        <% end %>
        <br>
        <h3><%= link_to "#{@genres.second.title}", genre_path(@genres.second.id) %></h3>
        <% @genres.second.events.first(4).each do |event| %>
          <%= link_to "#{event.event_details}", event_path(event.id) %>
          <br>
        <% end %>
        <h3><%= link_to "#{@genres.third.title}", genre_path(@genres.third.id) %></h3>
        <% @genres.third.events.first(4).each do |event| %>
          <%= link_to "#{event.event_details}", event_path(event.id) %>
          <br>
        <% end %>
        <h3><%= link_to "#{@genres[3].title}", genre_path(@genres[3].id) %></h3>
        <% @genres[3].events.first(4).each do |event| %>
          <%= link_to "#{event.event_details}", event_path(event.id) %>
          <br>
        <% end %>
    </div>
  </div>

  <div class="grid grid-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Featured Events</div>
        <% @featured.each do |feature| %>
          <div class="feature-box">
            <%= feature.event.event_details %>
            <%= feature.event.act.act_image %>
          </div>
          <br>
          <br>
        <% end %>
    </div>
  </div>
</section>
