<h1><%= @event.event_details %></h1>

<section class="row">
  <div class="grid grid-6">
    <div class="panel panel-primary">
      <div class="individual-image">
        <%= image_tag @event.act.act_image %>  
      </div>
      <% if @event.sold_out? %>
        <h1><%= "SOLD OUT" %><h1>
      <% else %>
        <%= "#{@event.tickets_left?} Tickets Left" %>
        <h3><%= link_to "Book This Event Now!", current_user ? new_event_booking_path(@event) : new_user_session_path %></h3>
      <% end %>
    </div>
  </div>

  <div class="grid grid-6">
    <div class="panel panel-primary">
      <%= @event.act.act_name %>
      <br>
      <br>
      <%= link_to "#{@event.venue.venue_name}", venue_path(params[:id]) %>
      <br>
      <br>
      <%= @event.event_start_time.strftime('%H:%M on %d %^b %Y') %>
      <br>
      <br>
      £<%= @event.event_price %>
      <br>
      <br>
      <%= @event.act.act_details %>
    </div>
  </div>
</section>