<h1><%= @venue.venue_name %></h1>

<section class="row">
  <div class="grid grid-6">
    <div class="panel panel-primary">
      <div class="individual-image">
        <%= image_tag @venue.venue_image %>
      </div>
      <%= link_to "See what else is on at #{@venue.venue_name}", {:controller => "venues", :action => "all_events", :id => @venue.id} %>
    </div>
  </div>

  <div class="grid grid-6">
    <div class="panel panel-primary">
      <%= @venue.venue_name %>
      <br>
      <br>
      <%= @venue.venue_location %>
      <br>
      <br>
      <%= @venue.venue_details %>
    </div>
  </div>
</section>