<!DOCTYPE html>
<html>
<head>
  <title>TicketyBoo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header-image">
  </div>
  <nav>
    <div class="container">
      <div class="nav-left">
        <ul>
          <li class="logo"><%= link_to(content_tag(:i, nil, class: 'fa fa-ticket fa-2x'), root_path) %></li>
          <li>Search Function</li>
        </ul>
      </div>
      <div class="nav-right">
        <ul>
          <li>Deals</li>
          <li>
            <% if user_signed_in? %>
              <p>Welcome back: <%= current_user.email %></p>
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            <% else %>
              <%= link_to "Sign In", new_user_session_path %>
            <% end %>
          </li>
          <li><i class="fa fa-shopping-cart fa-2x"></i></li>
        </ul>
      </div>
    </nav>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </div>

</body>
</html>
