<!DOCTYPE html>
<html>
<head>
  <title>TicketyBoo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="header-image">
    <h1>Tickety-Boo!</h1>
  </div>
  <nav>
    <div class="container">
      <div class="nav-left">
        <ul>
          <li class="logo"><%= link_to(content_tag(:i, nil, class: 'fa fa-ticket fa-2x'), root_path) %></li>
          <li>
            <%= form_tag(search_path, method: :get, id: "search_form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search Here" %>
              <%= submit_tag "Search" %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="nav-right">
        <ul>
          <% if user_signed_in? %>
            <li class="welcome">Welcome back: <%= current_user.email %></li>
            <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
            <li class="logo"><%= link_to(content_tag(:i, nil, class: 'fa fa-shopping-cart fa-2x'), bookings_all_path) %></li>
          <% else %>
            <li class="welcome"><%= link_to "Sign In", new_user_session_path %></li>
          <% end %> 
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">
    <% if user_signed_in? && admin? %>
      <%= link_to "Admin Panel", admin_index_path %>
    <% end %>
  </div>

  <div class="container">
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <%= yield %>

    <%#= debug(params) if Rails.env.development? %>
  </div>

  <footer>
    <div class="container">
      <div class="footer-left">
      <ul>
        <li class="logo" ><i class="fa fa-facebook-official"></i></li>
        <li class="logo"><i class="fa fa-twitter-square"></i></li>
        <li class="logo"><i class="fa fa-pinterest-p"></i></li>
        <li class="logo"><i class="fa fa-github"></i></li>
      </ul>
      </div>
      <div class="footer-right">
        <ul>
          <li class="logo"><i class="fa fa-copyright"></i>Tickety-Boo!</li>
        </ul>
      </div>
    </div>
  </footer>

</body>
</html>