<h1><%= @act.act_name %></h1>

<section class="row">
  <div class="grid grid-6">
    <div class="panel panel-primary">
      <%= @act.act_image %>
      <p>Act image goes here</p>
      <%= link_to "See all #{@act.act_name}'s Events", {:controller => "acts", :action => "all_events", :id => @act.id} %>
    </div>
  </div>

  <div class="grid grid-6">
    <div class="panel panel-primary">
      <%= @act.act_name %>
      <br>
      <br>
      <%= @act.act_details %>
    </div>
  </div>
</section>