<h1><%= @act.act_name %></h1>

<section class="row">
  <div class="grid grid-6">
    <div class="panel panel-primary">
      <%= @act.act_image %>
      <p>Act image goes here</p>
      <h3> see all acts for this artist - will link to search show<%=  %></h3>
    </div>
  </div>

  <div class="grid grid-6">
    <div class="panel panel-primary">
      <%= @act.act_name %>
      <br>
      <br>
      <%= @act.act_details %>
    </div>
  </div>
</section>